doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(name='keywords', content='art, map, street art, graffiti, graffmap')
    title= title
    block css
        link(rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png")
        link(rel="manifest" href="/favicon/manifest.json")
        link(rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="theme-color" content="#ffffff")
        link(rel='stylesheet', href='/css/style.css')
  body
    block content
    block js
        script(src='https://maps.googleapis.com/maps/api/js?key=' + apiKey + '&libraries=geometry,places', type="text/javascript")
        script(src='/js/all.js', type="text/javascript")
